@charset "UTF-8";
body .loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #FF79DA, #9356DC);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 5s forwards;
}
body .spinner {
  border: 16px solid #f3f3f3; /* Couleur de fond */
  border-top: 16px solid #3498db; /* Couleur du spinner */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
body .content {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 5s forwards;
}
body .loading-message {
  margin-top: -200px;
  margin-left: -130px;
  font-size: 1.6em;
  font-weight: bold;
  color: black;
}
body .chargement {
  margin-bottom: -170px;
  margin-left: -160px;
  font-size: 1.3em;
  font-weight: bold;
  color: black;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body .main-content {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 5s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body .header__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .header__nav__logo {
  gap: 10px;
}
body .header__nav__choixVille {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid grey;
  padding: 10px;
  margin-top: 5px;
  width: 98.5%;
  gap: 5px;
  background-color: #e0dcdc;
}
body .header__nav__choixVille i {
  font-size: 1.5rem;
  margin-top: -5px;
}
body .header__nav__choixVille input {
  border: none;
  height: 30px;
  background-color: #e0dcdc;
}
body .header__nav__choixVille input::placeholder {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
}
body .header__FonctionnementReservation {
  display: flex;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
}
body .header__FonctionnementReservation h1 {
  margin-bottom: 20px;
  font-size: 30px;
}
body .header__FonctionnementReservation p {
  text-align: center;
  margin-bottom: 40px;
  font-size: 25px;
  color: #666;
}
body .header__FonctionnementReservation button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  background: linear-gradient(to right, #FF79DA, #9356DC);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  transition-property: transform;
  transform: scale(1);
}
body .header__FonctionnementReservation button:hover {
  transform: scale(1.15);
  box-shadow: 0px 0px 35px #99E2D0;
  transform: scale(1.2);
  transition-duration: 2s;
}
body .header__FonctionnementReservation__Reservation {
  width: 50%;
  background-color: #f2f2f2;
  text-align: center;
}
body .header__FonctionnementReservation__Fonctionnement {
  width: 50%;
  background: #fff;
}
body .header__FonctionnementReservation__Fonctionnement h2 {
  margin-bottom: 20px;
  font-size: 20px;
  margin-left: 10%;
  font-size: 30px;
}
body .header__FonctionnementReservation__Fonctionnement ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .header__FonctionnementReservation__Fonctionnement ul li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 25px;
}
body .header__FonctionnementReservation__Fonctionnement ul li:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 35px #99E2D0;
}
body .header__FonctionnementReservation__Fonctionnement ul li .number {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: -10%;
  background-color: #a987e7;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}
body .header__FonctionnementReservation__Fonctionnement ul li .text {
  margin-left: 10px;
}
body main {
  background-color: #f2f2f2;
}
body main .restaurantSection__galery {
  width: 100%;
  display: flex;
  gap: 10px;
  background-color: #f2f2f2;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px 5px 10px 5px;
  padding: 40px;
  box-sizing: border-box;
}
body main .restaurantSection__galery a {
  width: calc(48% - 10px);
  border: 1px solid #ddd;
  border-radius: 20px;
  margin: 10px;
  background-color: white;
}
body main .restaurantSection__galery a .image {
  display: flex;
  flex-direction: column;
  position: relative;
}
body main .restaurantSection__galery a .image .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 5px 0px 5px;
}
body main .restaurantSection__galery a .image .text i {
  font-size: 25px;
}
body main .restaurantSection__galery a .image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
body footer {
  background-color: black;
  font-weight: 400;
  padding: 40px;
}
body footer h1 {
  color: white;
}
body footer .footer__nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding-right: 250px;
  font-size: 1.2em;
}
body footer .footer__nav ul li a {
  display: flex;
  gap: 10px;
  font-style: none;
  color: white;
}

.heart-container {
  display: inline-block;
  font-size: 50px;
  position: relative;
}
.heart-container .fa-heart {
  color: black;
  position: relative;
  display: inline-block;
  font-size: 100px;
  transition: color 0.5s ease-in-out;
}
.heart-container .fa-heart:after {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #ff6699, #8a2be2);
  -webkit-text-fill-color: transparent; /* Important pour que le texte ne soit pas visible autrement */
  background-clip: text; /* Propriété standard */
  color: transparent;
  clip-path: inset(100% 0 0 0);
  transition: clip-path 0.2s ease-in-out;
}
.heart-container:hover .fa-heart:after {
  clip-path: inset(0 0 0 0);
}/*# sourceMappingURL=style.css.map */