body a {
  text-decoration: none;
}
body header nav img .header__nav__choixVille {
  color: red;
}
body header .header__FonctionnementReservation .header__FonctionnementReservation__Reservation {
  color: green;
}
body header .header__FonctionnementReservation .header__FonctionnementReservation__Fonctionnement {
  color: black;
}
body header .header__FonctionnementReservation .header__FonctionnementReservation__Fonctionnement h2 {
  color: white;
}
body header .header__FonctionnementReservation .header__FonctionnementReservation__Fonctionnement ul {
  color: white;
}
body header .header__FonctionnementReservation .header__FonctionnementReservation__Fonctionnement ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background-color: #f2f2f2;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
body header .header__FonctionnementReservation .header__FonctionnementReservation__Fonctionnement ul li .number {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: -10%;
  background-color: #a987e7;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}
body main .main__restaurantSection .restaurantSection__galery {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
body main .main__restaurantSection .restaurantSection__galery a {
  border: 1px solid #ddd;
  border-radius: 20px;
}
body main .main__restaurantSection .restaurantSection__galery a .image img {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
body main .main__restaurantSection .restaurantSection__galery a .image span {
  position: absolute;
  background-color: #99E2D0;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: -120px;
  margin-top: 10px;
  left: 100%;
}
body main .main__restaurantSection .restaurantSection__galery a .image .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 5px 0px 5px;
}

@media only screen and (max-width: 320px) {
  body {
    background-color: red;
  }
  header {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main {
    background-color: yellow;
  }
  footer {
    background-color: blue;
  }
  .header__FonctionnementReservation__Reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    text-align: center;
  }
  .header__FonctionnementReservation__Reservation button {
    display: inline-block;
    padding: 20px;
    font-size: 12px;
    color: white;
    background: linear-gradient(to right, #FF79DA, #9356DC);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    transition-property: transform;
    transform: scale(1);
  }
  .header__FonctionnementReservation__Fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1eff00;
    text-align: center;
  }
  .header__FonctionnementReservation__Fonctionnement ul li {
    margin-left: -37px;
    background-color: red !important;
    font-size: 100px;
    font-size: 16px;
  }
  .number {
    margin-left: -40px !important;
  }
  .main__restaurantSection {
    background-color: orange;
  }
  .restaurantSection__galery {
    background-color: antiquewhite;
  }
  .restaurantSection__galery a {
    display: block;
    width: 100%;
    background-color: yellow;
    border: solid 1px black;
  }
  .main__restaurantSection a img {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  body {
    background-color: red;
  }
  header {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main {
    background-color: yellow;
  }
  footer {
    background-color: blue;
  }
  .header__FonctionnementReservation__Reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    text-align: center;
  }
  .header__FonctionnementReservation__Fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1eff00;
    text-align: center;
  }
  .header__FonctionnementReservation__Fonctionnement ul li {
    margin-left: -37px;
    background-color: red !important;
    font-size: 100px;
    font-size: 16px;
  }
  .number {
    margin-left: -40px !important;
  }
  .main__restaurantSection {
    background-color: orange;
  }
  .restaurantSection__galery {
    background-color: antiquewhite;
  }
  .restaurantSection__galery a {
    display: block;
    width: 100%;
    background-color: yellow;
    border: solid 1px black;
  }
  .main__restaurantSection a img {
    width: 100%;
  }
}
@media only screen and (max-width: 760px) {
  body {
    background-color: red;
  }
  header {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main {
    background-color: yellow;
  }
  footer {
    background-color: blue;
  }
  .header__FonctionnementReservation__Reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #09ff00;
    text-align: center;
  }
  .header__FonctionnementReservation__Fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1eff00;
    text-align: center;
  }
  .header__FonctionnementReservation__Fonctionnement ul li {
    margin-left: -35px;
    background-color: red !important;
    font-size: 100px;
    font-size: 16px;
  }
  .number {
    margin-left: -40px !important;
  }
  .main__restaurantSection {
    background-color: orange;
  }
  .restaurantSection__galery {
    background-color: antiquewhite;
  }
  .restaurantSection__galery a {
    display: block;
    width: 100%;
    background-color: yellow;
    border: solid 1px black;
  }
  .main__restaurantSection a img {
    width: 100%;
    height: 20vh;
  }
}
@media only screen and (max-width: 992px) {
  body {
    background-color: red;
  }
  header {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header__FonctionnementReservation {
    width: 100%;
  }
  .header__FonctionnementReservation__Fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1eff00;
    text-align: center;
  }
  .header__FonctionnementReservation__Fonctionnement ul li {
    margin-left: -37px;
    background-color: red !important;
    font-size: 100px;
    font-size: 16px;
  }
  .number {
    margin-left: -40px !important;
  }
  main {
    background-color: yellow;
  }
  footer {
    background-color: blue;
  }
  .header__FonctionnementReservation__Reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    text-align: center;
  }
  .main__restaurantSection {
    background-color: orange;
  }
  .restaurantSection__galery {
    background-color: antiquewhite;
  }
  .restaurantSection__galery a {
    display: block;
    width: 100%;
    background-color: yellow;
    border: solid 1px black;
  }
  .main__restaurantSection a img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */