body{
  font-family: Arial, sans-serif;
  .text {
    p{
      font-size: 1.4rem;
      font-weight: 525;
     }
  }

header{
  button{
    font-weight: 900;
    font-size: 1.2rem;
    margin-bottom: 40px;
    box-shadow: 0px 0px 30px grey;
    
  }
  nav{
    i{
      font-size: 1.6rem;
    }
    .ville{
      padding: 20px;
      font-weight: 900;
    }
  }
  li {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 20px 20px 20px 10px;
    position: relative;
    max-width: 100%;
    flex-wrap: nowrap;
    i{
      font-size: 18px;
      margin-left: 10px; 
      color: #333;
    }
    .number__text {
      font-size: 16px;
      color: #333;
      white-space: nowrap;
    }

    .number {
      position: absolute;
      left: -15px;
      top: 50%;
      transform: translateY(-50%);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      background-color:#8a2be2;
      color: white;
      border-radius: 50%;
      font-weight: bold;
      font-size: 14px;

    }
  }
}
main{
  margin: 0px  0px 50px 0px;
  .un{
    margin: 30px 0px 20px 20px;
  }
  .restaurantSection__galery {
   
    a {
      background-color: white;
    }
  }
}
}
.heart-container {
  display: inline-block;
  font-size: 50px;
  position: relative;


  .fa-heart {
    color: #2e2c2c;
    position: relative;
    display: inline-block;
    font-size: 35px;
    transition: color 0.2s ease-in-out;


    &:after {
      content: '\f004'; 
      font-family: "Font Awesome 5 Free"; 
      font-weight: 900;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, #ff6699, #8a2be2);
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      clip-path: inset(100% 0 0 0);
      transition: clip-path 0.2s ease-in-out;
    }
  }


  &:hover .fa-heart:after {
    clip-path: inset(0 0 0 0);
  }
}

.screen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background: linear-gradient(to right, #FF79DA, #9356DC);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  animation: fadOut 7s ease-in-out forwards; 
}


.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background:linear-gradient(90deg,#000 50%,#0000 0) right/200% 100%;
  animation: l21 7s infinite linear;
}
.loader::before {
  content :"WELCOME TO OHMYFOOD SITE...";
  color: #0000;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(90deg,#fff 50%,#000 0);
  -webkit-background-clip:text;
  background-clip:text;
  text-align: center;
}

@keyframes l21{
  100%{background-position: left}
}

@keyframes fadOut {
  0% { opacity: 1;
      background: linear-gradient(to right, #FF79DA, #00c5c7);
   }
  50% { opacity: 1;
      background: linear-gradient(to right, #00c5c7,#9356DC );
   }
  75% { opacity: 1;
  background: linear-gradient(to right, #FF79DA, #9356DC);
   }
  100% { opacity: 0; display: none; }
}

footer{

  h1{
    margin-left: 31px;
    font-style: italic;

  }
  background-color: black;
  color: white;
  padding: 10px;
  nav{
    ul{
      padding-right: 40px;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
      li{
        font-size: 1.3rem;
        a{
          font-size: 1.3rem;
          display: flex;
          gap: 10px;
          color: white;
        }
      }
    }
  }
}


@media screen and (min-width:100px) {

  body {

    a {
      text-decoration: none;
      color: black;
    }

    header {
      nav {
        .logo {
          display: flex;
          align-items: center;
          justify-content: center;

        }

        .header__nav__choixVille {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          margin-top: 20px;
          background-color: #e6e6e6;
          border-top: 2px solid black;

          .ville {
            display: flex;
            font-size: 30px;

          }

          h1::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 30vw;
            height: 2px;
            background-color: #d3d3d3;
         
          }

        }
      }
    }

    .header__FonctionnementReservation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;

      .header__FonctionnementReservation__Reservation {
        width: 100%;
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
        flex-direction: column;

        h1 {
          font-size: 30px;
        }

        p {
          margin-left: 25px;
          font-size: 1.5rem;
          text-align: center;
        }

        button {
          display: inline-block;
          padding: 15px;
          font-size: 16px;
          color: white;
          background: linear-gradient(to right, #FF79DA, #9356DC);
          border: none;
          border-radius: 25px;
          cursor: pointer;
          text-decoration: none;
          transition-property: transform;
          width: 70%;
          transform: scale(1);
          box-shadow: 0px 0px 35px grey;
        }
      }

      .header__FonctionnementReservation__Fonctionnement {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h2 {
          color: black;
          font-size: 30px;
          margin-top: 30px;
          margin-left: -30%;

        }

        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          flex-direction: column;
          width: 90%;
          white-space: nowrap;
          li{
            display: flex;
             gap: 10px;
            margin-left: -50px;
            .numbertext{
              font-size: 1.5rem;
            }
          }

        }
      }
    }
  }

  main {
    background-color: #f2f2f2;
    padding-top: 40px;

    .main__restaurantSection {
      .title {
        font-size: 2rem;
        font-weight: bold;
      }

      .restaurantSection__galery {
        flex: 1;
        flex-wrap: wrap;
        display: flex;
        gap: 20px;
        a {
          display: block;
          border: 1px solid #ddd;
          border-radius: 20px;
          width: 100%;
          background-color: white;

          .image {
            position: relative;

            img {
              width: 100%;
              height: 250px;
              object-fit: cover;
              position: relative;
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
            }

            span {
              position: absolute;
              background-color: #99E2D0;
              color: black;
              padding: 10px 20px;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              margin-left: -120px;
              margin-top: 10px;
              left: 100%;
              color: #333;
              font-family: Arial, sans-serif;
            }

            .text {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 0px 5px 0px 5px;

            }
          }
        }
      }
    }
    
  }
  footer{
    h1{
      font-size: 1.4rem;
      font-style: italic;
        
    }
    nav{
      ul{
        display: flex;
        flex-direction: column;
        li{
          font-size: 1.3rem;
          
        }
      }
    }
  }
  

}

@media screen and (min-width:480px) {

  body {

    a {
      text-decoration: none;
      color: black;
    }

    header {
      nav {
        .logo {
          display: flex;
          align-items: center;
          justify-content: center;

        }

        .header__nav__choixVille {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          margin-top: 20px;
          background-color: #e6e6e6;
          border-top: 2px solid black;

          .ville {
            display: flex;
            font-size: 30px;

          }

          h1::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 30vw;
            background-color: #d3d3d3
          }

        }
      }
    }

    .header__FonctionnementReservation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;

      .header__FonctionnementReservation__Reservation {
        width: 100%;
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
        flex-direction: column;

        h1 {
          font-size: 30px;
        }

        p {
          margin-left: 25px;
          font-size: 1.5rem;
          text-align: center;
        }

        button {
          display: inline-block;
          padding: 20px;
          font-size: 16px;
          color: white;
          background: linear-gradient(to right, #FF79DA, #9356DC);
          border: none;
          border-radius: 25px;
          cursor: pointer;
          text-decoration: none;
          transition-property: transform;
          width: 50%;
          transform: scale(1);


        }
      }

      .header__FonctionnementReservation__Fonctionnement {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h2 {
          color: black;
          font-size: 30px;
          margin-top: 30px;
          margin-left: 30px;

        }

        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          flex-direction: column;
          width: 90%;
          white-space: nowrap;
          li{
            margin-left: 10px;
          }
        }
      }
    }
  }

  main {
    background-color: #f2f2f2;
    padding-top: 40px;

    .main__restaurantSection {
      .title {
        font-size: 2rem;
        font-weight: bold;
      }

      .restaurantSection__galery {
        flex: 1;
        flex-wrap: wrap;
        padding-bottom: 10px;

        a {
          display: block;
          border: 1px solid #ddd;
          border-radius: 20px;
          width: 100%;

          .image {
            position: relative;

            img {
              width: 100%;
              height: 250px;
              object-fit: cover;
              position: relative;
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
            }

            span {
              position: absolute;
              background-color: #99E2D0;
              color: black;
              padding: 10px 20px;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              margin-left: -120px;
              margin-top: 10px;
              left: 100%;
              color: #333;
              font-family: Arial, sans-serif;
            }

            .text {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 0px 5px 0px 5px;

            }
          }
        }
      }
    }
  }
  footer{
   
    nav{
      ul{
        flex-direction: row;
       flex: 1;
        li{
          font-size: 1.3rem;
          
        }
      }
    }
  }
}


@media screen and (min-width:760px) {

  body {

    a {
      text-decoration: none;
      color: black;
    }

    header {
      nav {
        .logo {
          display: flex;
          align-items: center;
          justify-content: center;

        }

        .header__nav__choixVille {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          margin-top: 20px;
          background-color: #e6e6e6;
          border-top: 2px solid black;

          .ville {
            display: flex;
            font-size: 30px;

          }

          h1::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 30vw;
            
            height: 2px;
        
            background-color: #d3d3d3;
         

          }

        }
      }
    }

    .header__FonctionnementReservation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;

      .header__FonctionnementReservation__Reservation {
        width: 100%;
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
        flex-direction: column;

        h1 {
          font-size: 30px;
          margin: none;
        }

        p {
          margin-left: 25px;
          font-size: 1.5rem;
          text-align: center;
        }

        button {
          display: inline-block;
          padding: 20px;
          font-size: 16px;
          color: white;
          background: linear-gradient(to right, #FF79DA, #9356DC);
          border: none;
          border-radius: 25px;
          cursor: pointer;
          text-decoration: none;
          transition-property: transform;
          width: 30%;
          transform: scale(1);


        }
      }

      .header__FonctionnementReservation__Fonctionnement {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        h2{
         margin-left: 20px;
        }
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          flex-direction: column;
          width: 95%;
          white-space: nowrap;
          i{
          .numbertext{
            font-size:1.7rem;
          }
          }
        }
      }
    }
  }

  main {
    background-color: #f2f2f2;
    padding-top: 40px;

    .main__restaurantSection {
      .title {
        font-size: 2rem;
        font-weight: bold;
      }

      .restaurantSection__galery {
        flex: 1;
        flex-wrap: wrap;
        padding-bottom: 10px;

        a {
          display: block;
          border: 1px solid #ddd;
          border-radius: 20px;
          width: 100%;

          .image {
            position: relative;

            img {
              width: 100%;
              height: 250px;
              object-fit: cover;
              position: relative;
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
            }

            span {
              position: absolute;
              background-color: #99E2D0;
              color: black;
              padding: 10px 20px;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              margin-left: -120px;
              margin-top: 10px;
              left: 100%;
              color: #333;
              font-family: Arial, sans-serif;
            }

            .text {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 0px 5px 0px 5px;

            }
          }
        }
      }
    }
  }

}


@media screen and (min-width:992px) {
  
body{

  a{
    text-decoration: none;
    color: black;
  }
  header{
    nav{
      .logo{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .header__nav__choixVille{
        display: flex; 
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        background-color: #e6e6e6;
        border-top:2px solid black;
        .ville{
         i{
          font-size: 30px;
         }
         p{
          display: flex;
          font-size: 30px;
         }
        }
        h1::after{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 30vw; 
          height: 2px;
          background-color: #d3d3d3;
         
      }
        
       }
      }
      }
      .header__FonctionnementReservation{
        display: flex;
        flex-direction: row;
        width: 100%;
        .header__FonctionnementReservation__Reservation{
          width: 50%;
          height: 60vh;
        h1{
        font-size: 30px;
      
        }
        p{ 
        margin-left: 25px;    
        font-size: 1.5rem;
        text-align: center; 
      }
        button{
            display: inline-block;
            padding: 20px;
            font-size: 16px;
            color: white;
            background: linear-gradient(to right, #FF79DA, #9356DC);
            border: none;
            border-radius: 25px;
            cursor: pointer;
            text-decoration: none;
            transition-property: transform;
            width: 50%;
           transform: scale(1);
        }
      }
      .header__FonctionnementReservation__Fonctionnement{
        width: 50%;
        height: 60vh;
        background-color: #F5F5F5; 
        h2{
          color: black;
          font-size: 30px;
          margin-top: 0px;
          margin-right: 230px;
        
        }
        ul{
          display: flex;
          gap: 10px;
          flex-direction: column;
          width: 90% ;
          white-space: nowrap;
          li{
             box-shadow: 0px 0px 35px #e6e6e6;
          }
        }
      }
    }
    main{
      background-color: #f2f2f2;
      padding-top: 40px;
      .main__restaurantSection{
      .title{
      font-size: 2rem;
      font-weight: bold;
     }
      .restaurantSection__galery{
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      background-color: white;
    
      a{
        display: block;
        border: 1px solid #ddd;
        border-radius: 20px;
        width: calc(50% - 10px);
        background-color: #f2f2f2;
        .image{
          position: relative;
          img{
            width: 100%;
            height: 250px;
            object-fit: cover;
            position: relative;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
          }
          span{
          position: absolute;
          background-color: #99E2D0;
          color: black;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin-left: -120px;
          margin-top: 10px;
          left: 100%;
          color: #333; /* Gris foncé pour le texte */
          font-family: Arial, sans-serif;
          }
          .text{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0px 5px 0px 5px;
          }
        }
      }
    }
  }
}
}
}
