
/* .menu-image {
width: 100%;
height: 300px;
object-fit: cover;

} */


/* a{
    text-decoration: none;
} */

/* header {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
/* header img{
    margin-right: 40%;

} */

 /* button{
    border-radius: 20px;
    color: white;
    background-image:linear-gradient(90deg, #FF79DA, #9356DC);
    border: #FAFAFA solid 1px;
    font-weight: 500;
    font-size: 1.3em;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;

} */



/* .menu__entête{
    display: flex;
    justify-content: space-between;
} */

/* .les-plats{
    display: flex;
    flex-direction: column;
    width: 100%;
   
} */
/* .prix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    min-width: 400px;
    text-overflow: ellipsis;
} */


/* 
.louis{
    border: solid 1px #fff;
    margin-top: -35px;
    border-radius: 40px 40px 0px 0px;
    z-index: 100;
    position: relative;
    background-color: #f9f9f9;
} */
/* 
.cadre{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
} */
/* 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
   
} */

/* .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  align-items: center;
    
} */

/* .menu-item {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 350px;
    box-sizing: border-box;
    transition: transform 0.2s;
    padding: 5px;

} */
/* .menu__entête{
    display: flex;
    align-items: center;
} */

/* .menu-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
} */

/* .menu-item h3 {
    margin: 0;
    font-size: 1.25em;
} */

/* .menu-item p {
    margin: 10px 100px 0px 0px;
} */

/* .menu-item .price {
    font-weight: bold;
    color: #333;
    text-align: right;
} */

/* 
footer{
    background-color: black;
    font-weight: 400;
    padding: 40px;
}

footer h1{
    color: white;
}

footer nav ul{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 10px;
   padding-right: 250px;
}

footer nav ul li a{
    display: flex;
    gap: 10px;
    font-style: none;
    color: white;
    font-size: 1.2em;
} */



/* .explore-btn {
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background: linear-gradient(to right, #FF79DA, #9356DC);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-self: center;
    margin-left: 36.5%;
    width: 28%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
} */

/* .btn {
    margin-left:0px;
} */

/* responsive design */


@media screen and (max-width: 500px) {

    .container {
        display: flex;
        flex-direction: column;
    }
    .right, .left{
        width: 100%;
        padding: 0px;
    }
    .restaurants-nouveau, .restaurants-simple{
        width: 100%;
    }
    .explore-btn{
        margin-bottom: 20px;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 0px;
    }

    
    footer nav ul{
        display: flex;
      flex-direction: column;
      gap: 10px;
      padding-right: 0px;

    }
    footer h1{
        margin-left: 20px;
    }
    

    }



        

@media screen and (max-width: 992px) {

    .container {
        display: flex;
        flex-direction: column;
    }
    .right, .left{
        width: 100%;
        padding: 0px;
    }
    .restaurants-nouveau, .restaurants-simple{
        width: 100%;
    }
    .explore-btn{
        margin-bottom: 20px;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 0px;
    }

    
    footer nav ul{
        display: flex;
      flex-direction: column;
      gap: 10px;
      padding-right: 0px;

    }
    footer h1{
        margin-left: 20px;
    }
    

    }







    

        